*{
  margin: 0;
  font-family: sans-serif;
}

.contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section{
  text-align: center;
  width: 60vw;
  height: 30vh;
  /* background: yellow; */
}

h1{
  
  font-size: 40px;
  padding-top: 40px;
}

h2{
  
  font-size: 40px;
}

p{
  
  font-size: 25px;
  font-weight: bold;
  
  margin-top: 20px;
}

form{
  /* background: red; */
  width: 60%;
  height: 70%;
}

input{
  width: 380px;
  height: 30px;
  background: black;
  cursor: text;
  margin: 5px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  border: black;
}

::placeholder{
  color:white;
}

textarea{
  font-size: 15px;
  width: 57.5vw;
  margin-left: 5px;
  background: black;
  color: white;
  border: black;
  
}

button{
  cursor: pointer;
  height: 2.5rem;
  width: 13rem;
  font-size: 18px;
  border-color: black;
  background: white;
  
}



